# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Environment variables
.env
.env.*
.venv/
venv/
ENV/
env/

#database files
*.sqlite3
*.db
*.db-journal
users.db

# Log files
*.log
# Temporary files
*.tmp
*.temp
*.bak
*.swp
# Backup files
*.bak
*.old
*.orig
# IDE specific files
*.sublime-workspace
*.sublime-project
*.vscode
*.code-workspace
*.idea

# CSV and data files
Cleaned_DepressionDiagnosisWebApplication.csv

# Add any other unnecessary files or folders below
